section {
    /*height: 100%;*/
}

html, body {
    height: 100%;
}

.smallFont{
    font-size:small;
}

.center {
    margin-left: auto;
    margin-right: auto;
}


.vertcenter{
    position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.small-side-margins{
    margin-left:5px;
    margin-right:5px;
}

.no-vertical-margins{
    margin-top:0px;
    margin-bottom:0px;
}

.no-side-margins{
    margin-left:0px;
    margin-right:0px;
}

.negative-vertical-margins{
    margin-top:-5px;
    margin-bottom:-15px;
}

.select-no-vertical-margins{
    margin-top:-5px;
    margin-bottom:-15px;
}



.mySmallText{
    font-size:x-small;
}

.myToastDialog{
    line-height: 1;

    margin-bottom:20px;
    margin-left:10px;
    border-radius: 5px;
}


.fixed-position-bottom{
    position:fixed;
    bottom:0px;
}

#tagsRow{

}

#listRow{
    height:100px;
    overflow:scroll;
}


#timeDropdownRow{

}

